<div class="container mt-3 user-table-container">
  <h2 class="my-5">All Projects</h2>
  <ng-container *ngIf="charityProjects">
    <ng-container *ngFor="let charityName of getCharityNames()">
      <h3>Charity Name: {{ charityName }}</h3>
      <div class="table-responsive">
        <table class="table user-table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="headStyle">Project Name</th>
              <th scope="col" class="headStyle">Funding Goal</th>
              <th scope="col" class="headStyle">Amount Raised</th>
              <th scope="col" class="headStyle">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of charityProjects[charityName]">
              <td>{{ project.title }}</td>
              <td>{{ project.fundingGoal }}</td>
              <td>{{ project.amountRaised }}</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-primary"
                       role="progressbar"
                       [style.width.%]="(project.amountRaised / project.fundingGoal) * 100"
                       [attr.aria-valuenow]="(project.amountRaised / project.fundingGoal) * 100"
                       aria-valuemin="0"
                       aria-valuemax="100">
                    {{ (project.amountRaised / project.fundingGoal) * 100 }}%
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </ng-container>
</div>
