<!-- src/app/user-table/user-table.component.html -->

<div class="user-table-container container">
  <div class="user-count">
    <span>{{users.length}} / <strong>{{users.length}}</strong> users</span>
  </div>
  <table class="user-table">
    <thead>
      <tr>
        <th>USERNAME</th>
        <th>User Image</th>
        <th>Account Type</th>
        <th>E-MAIL</th>
        <th>Email Confirmed</th>
        <th>user State</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>
          <ng-container *ngIf="user.accountType !== 'Admin'; else adminImage">
            <img [src]="getFullImageUrl(user.image)" alt="User Image" class="img">
          </ng-container>
          <ng-template #adminImage>
            <img src="assets/images/admin.png" alt="Default Admin Image" class="img">
          </ng-template>
        </td>
        <td>
          <span class="badge" [ngClass]="getBadgeClass(user.accountType)">
            {{ user.accountType }}
          </span>
        </td>
        <td>{{ user.email }}</td>
        <td>
          <span class="badge" [ngClass]="getBadgeClassEmail(user.emailConfirmed)">
            {{ user.emailConfirmed }}
          </span>
        </td>


        <td>
         <a href=""><img src="/assets/images/check.png" class="icons"></a>
         <a><img src="/assets/images/lock.png" class="icons"></a>
         <a><img src="/assets/images/button.png" class="icons"></a>
        </td>
      </tr>
    </tbody>
  </table>
  <app-projects></app-projects>
</div>
