<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slack Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="section theme-container">
   
    <main>
        <section class="main-content section theme-container">
            <div class="image-container">
                <img src="assets/images/work.png" alt="Project Mobile">
            </div>
            <div class="text-container ">
                <h1 class="title">Where Work Happens</h1>
                <p>When your team needs to track donation progress, onboard a new charity partner, deploy a new feature, review donor feedback, finalize quarterly donation reports, measure campaign effectiveness, plan upcoming fundraising events, and more, GiveHub's dashboard has you covered.</p>
                <form>
                  

                    <div class="box-3">
                        <div class="btn btn-three theme-container">
                          <span class="theme-container">GET STARTED</span>
                        </div>
                      </div>
                      
                 
                </form>
           
            </div>
        </section>
    </main>
</body>
</html>
