<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slack Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
   
    <main>
        <section class="main-content">
            <div class="image-container">
                <img src="assets/images/work.avif" alt="Project Mobile">
            </div>
            <div class="text-container">
                <h1>Where Work Happens</h1>
                <p>When your team needs to kick off a project, hire a new employee, deploy some code, review a sales contract, finalize next year's budget, measure an A/B test, plan your next office opening, and more, Slack has you covered.</p>
                <form>
                  

                    <div class="box-3">
                        <div class="btn btn-three">
                          <span>GET STARTED</span>
                        </div>
                      </div>
                      
                 
                </form>
                <p class="signin-text">Already using Slack? <a href="#">Sign in</a>.</p>
            </div>
        </section>
    </main>
</body>
</html>
