/* Base styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Dark theme variables */
.dark-theme {
  background-color: purple;
  color: #ffffff;
}

/* Light theme variables */
.light-theme {

  background-color: #ffffff; /* Light background color */
  color: #000000; /* Dark text color */
}

/* Apply the theme colors */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Example for Angular Material components */
.mat-slide-toggle.mat-checked {
  background-color: var(--primary-color);
}

.mat-icon {
  color: var(--accent-color);
}
